*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: gold; */
    background-image: linear-gradient(to right, #0099f7,#f11712);
    gap: 50px;
}
.title{
    font-size: 60px;
    padding-top: 80px;
}
.result-display{
    font-size: 30px;
}
.score-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 70px;
}
.human-score{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    
}
.computer-score{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;   
}
.h-s-num{
    font-size: 40px;
}
.c-s-num{
    font-size: 40px;
}
.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
}
button{
    width: 70px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(134, 30, 175);
    color: cornsilk;
}